<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark main-bg" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading text-white">{{ "side_menu.menu"|trans }}</div>
                <a class="nav-link text-white" href="{{ path('concert_list') }}">
                    <div class="sb-nav-link-icon text-white"><i class="fa-solid fa-music"></i></div>
                    {{ "side_menu.concerts"|trans }}
                </a>
                <a class="nav-link text-white" href="{{ path('concert_list') }}">
                    <div class="sb-nav-link-icon text-white"><i class="fa-regular fa-image"></i></div>
                    {{ "side_menu.photo_video"|trans }}
                </a>
                <a class="nav-link collapsed text-white" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon text-white"><i class="fa-solid fa-cart-shopping"></i></div>
                    {{ "side_menu.merch"|trans }}
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="layout-static.html">{{ "side_menu.items"|trans }}</a>
                        <a class="nav-link" href="layout-sidenav-light.html">{{ "side_menu.size"|trans }}</a>
                    </nav>
                </div>
            </div>
        </div>

    </nav>
</div>