{% extends 'admin/components/layout.html.twig' %}

{% block title %}{{ "concert.edit"|trans }} - {{ concert.name }}{% endblock %}

{% block content %}
    <h1 class="mt-4">{{ "concert.edit"|trans }} - {{ concert.name }}</h1>

    {% include 'admin/components/flashes.html.twig' %}

    <div class="card mb-4">
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.date) }}
            {{ form_row(form.location) }}
            {{ form_row(form.tickets) }}
            {{ form_row(form.active) }}
        </div>
        <div class="card-footer">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}