{% extends 'admin/components/layout.html.twig' %}
{% trans_default_domain 'concert_lsit' %}

{% block title %}{{ "concert.list"|trans }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h1>{{ "concert.list"|trans }}</h1>
        <a class="btn btn-primary" href="{{ path('concert_create') }}">{{ "concert.button.create"|trans }}</a>
    </div>

    {% include 'admin/components/flashes.html.twig' %}

    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table id="datatablesSimple" class="table table-striped text-dark data-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ "concert.table.name"|trans }}</th>
                        <th>{{ "concert.table.date"|trans }}</th>
                        <th>{{ "concert.table.location"|trans }}</th>
                        <th>{{ "concert.table.active"|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for concert in concerts %}
                        <tr>
                            <td>{{ concert.id }}</td>
                            <td>{{ concert.name }}</td>
                            <td>{{ concert.location }}</td>
                            <td>{{ concert.date|date("d.m.Y") }}</td>
                            <td>{% if concert.active %}{{ "concert.active"|trans }}{% else %}{{ "concert.not_active"|trans }}{% endif %}</td>
                            <td>
                                <a href="{{ path('concert_edit', {'concert': concert.id}) }}" class="btn btn-primary btn-sm">{{ "concert.button.edit"|trans }}</a>
                                <a href="{{ path('concert_toggle_status', {'concert': concert.id}) }}" class="btn btn-info btn-sm">{{ "concert.button.toggle_status"|trans }}</a>
                                <a onclick="return confirm('Opravdu chcete smazat tento koncert?')"
                                   href="{{ path('concert_delete', {'concert': concert.id}) }}"
                                   class="btn btn-danger btn-sm">
                                    {{ "concert.button.delete"|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}