{% extends 'admin/components/layout.html.twig' %}

{% block title %}{{ "size.create"|trans }}{% endblock %}

{% block content %}
    <h1 class="mt-4">{{ "size.create"|trans }}</h1>

    {% include 'admin/components/flashes.html.twig' %}

    <div class="card mb-4">
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form.name) }}
        </div>
        <div class="card-footer">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}