{% extends 'site/app_layout.html.twig' %}

{% block meta_title %}Circus Brothers Official | Koncerty{% endblock %}
{% block meta_keywords %}Circus Brothers, Circus Brothers Official, Kapela, Koncert, Party, Firemní večírek, Oslava, Festival, Circus, Šapitó, Zábava, Balkan, Bashavel{% endblock %}
{% block meta_description %}Ponořte se do elektrizujícího světa koncertů Circus Brothers! Zažijte jejich unikátní směs disco-balkánské hudby, která uchvátila tisíce fanoušků na klubech a festivalech po celé České republice.{% endblock %}
{% block og_meta_title %}Nadcházející koncerty Circus Brothers | Zažijte Disco-Balkan naživo{% endblock %}
{% block og_meta_description %}Nepropásněte nejnovější koncerty Circus Brothers a ponořte se do vibrující energie disco-balkánské hudby. Připojte se k nám na nezapomenutelné noci plné tance, hudby a radosti.{% endblock %}

{% block body %}
    {% include 'site/app/_component/header.html.twig' %}

    <div class="bg-purple line-bg py-5">
        <div class="container">
            <h5 class="text-center text-white mb-5">Nadcházející koncerty</h5>
            {% for concert in futureConcerts %}
                <div class="row mb-5 align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-8 col-sm-5 col-md-2 me-0 me-md-5 text-center text-capitalize px-1 fw-bold mb-3 mb-lg-0 text-purple bg-white date-concert">
                        {{  concert.date|format_datetime(pattern="EEEE dd.MM.yy", locale='cs') }}
                    </div>
                    <div class="col-12 col-md-6 text-center text-md-start text-uppercase h5 mb-3 mb-lg-0 fw-bold text-white">
                        {{ concert.name }}
                    </div>
                    <div class="col-12 col-md-2 text-center text-md-start text-white helvetica-font mb-3 mb-lg-0">
                        {{ concert.location }}
                    </div>
                    <div class="col-12 col-md-1 text-center text-md-start">
                        <a class="text-decoration-underline fw-bold text-white" href="{{ concert.tickets }}" target="_blank">
                            Vstupenky
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div id="past-concerts" class="border-top-white pt-5">
                {% for concert in pastConcerts %}
                    <div class="row mb-5 align-items-center justify-content-center past-concert-item" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-8 col-sm-5 col-md-2 me-0 me-md-5 bg-shadow-concert text-center text-capitalize px-1 fw-bold mb-3 mb-lg-0 text-purple bg-white date-concert">
                            {{  concert.date|format_datetime(pattern="EEEE dd.MM.yy", locale='cs') }}
                        </div>
                        <div class="color-shadow-concert text-center text-md-start col-12 col-md-6 text-uppercase h5 mb-3 mb-lg-0 fw-bold">
                            {{ concert.name }}
                        </div>
                        <div class="color-shadow-concert text-center text-md-start col-12 col-md-2 helvetica-font">
                            {{ concert.location }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <button id="show-concerts" class="mt-2">
                    Odehrané koncerty
                </button>
            </div>
        </div>
    </div>

    <div class="container px-4 px-xs-0">
        <div class="row my-5">
            <div class="col-12 col-md-8 mx-auto mt-4" data-aos="fade-up" data-aos-duration="1000">
                <p class="h5 mb-3 fw-bold text-center fest-text">
                    Šestičlená cirkusová rodinka, kde je každý člen unikátním dílkem pestrobarevné skládačky a jejíchž
                    skladby vás rozhodně nenechají v klidu. Autorské skladby vycházejí z tradiční balkánské dechovky a
                    dále jsou ve zvuku i žánru obaleny současnými hudebními vlivy. Dechové nástroje, housle a klarinet,
                    to vše doplněné hutnými synťáky, elektrickou kytarou a rozmanitými vícehlasy. Unikátní energická
                    show na kterou jen tak nezapomenete.
                </p>
            </div>
            <p class="mb-0 text-center mt-5 helvetica-font">Vystupovali jsme na</p>
            <div class="row mt-3 mb-4">
                <div class="col-12 col-md-8 mx-auto">
                    <div class="row d-flex justify-content-around">
                        <div class="col mb-5 mb-md-0 justify-content-sm-center justify-content-start d-flex align-items-center" data-aos="fade-up" data-aos-duration="1000">
                            <img class="fest-logo" src="{{ asset('images/fests/RFP.webp') }}" alt="ROCK FOR PEOPLE">
                        </div>
                        <div class="col mb-5 mb-md-0 justify-content-sm-center justify-content-end d-flex align-items-center" data-aos="fade-up" data-aos-duration="1000">
                            <img class="fest-logo" src="{{ asset('images/fests/MS.webp') }}" alt="MIGHTY SOUNDS">
                        </div>
                        <div class="col mb-5 mb-md-0 justify-content-sm-center justify-content-start d-flex align-items-center" data-aos="fade-up" data-aos-duration="1000">
                            <img class="fest-logo" src="{{ asset('images/fests/RFCH.webp') }}" alt="ROCK FOR CHURCHILL">
                        </div>
                        <div class="col mb-5 mb-md-0 justify-content-sm-center justify-content-end d-flex align-items-center" data-aos="fade-up" data-aos-duration="1000">
                            <img class="fest-logo" src="{{ asset('images/fests/SP.webp') }}" alt="SOUNDS TRACK">
                        </div>
                        <div class="col mb-5 mb-md-0 justify-content-center d-flex align-items-center" data-aos="fade-up" data-aos-duration="1000">
                            <img class="fest-logo" src="{{ asset('images/fests/KVIFF.webp') }}" alt="Karlovy Vary International Film Festival">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'site/app/_component/footer.html.twig' %}
{% endblock %}

{% block js %}
    <script src="{{ asset('site/site.js') }}"></script>
    <script src="{{ asset('site/components/showConcerts.js') }}"></script>
{% endblock %}