{% extends 'site/app_layout.html.twig' %}

{% block meta_title %}Circus Brothers{% endblock %}

{% block body %}
    {% include 'site/app/_component/header.html.twig' %}

    <main class="" style="background-image: url('{{ asset('images/hp_header.webp') }}');">
        <div class="cover-margin">
            <div class="container">
                <div class="d-flex">
                    <img class="logo-hp mx-auto" src="{{ asset('images/logo/logo_white.webp') }}" alt="Circus Brother">
                </div>
            </div>
        </div>
    </main>

    <div class="container">
        <div class="row my-5">
            <div class="col-8 mx-auto">
                <p class="h5 mb-3 fw-bold text-center">
                    Kapela Circus Brothers je pevná součást klubové
                    a festivalové scény v České republice. O jejich energii,
                    disco-balkánu a večírcích se vždy mluví ještě dlouho. Na ulici,
                    v klubech i na pódiích festivalů baví tisíce fanoušků, kteří na jejich
                    show tančí často až do ranních hodin a posledních sil. Základem
                    každého koncertu je disco-balkan, v kterém kombinují balkánskou
                    dechovku, diskotékový beat, laciný pop, špinavý house,
                    drsný rap a líbivý folk.
                </p>
            </div>
            <p class="mb-0 text-center mt-5">Vystupovali jsme na</p>
            <div class="row mt-3">
                <div class="col-8 mx-auto">
                    <div class="row d-flex justify-content-around">
                        <div class="col justify-content-center d-flex align-items-center">
                            <img class="fest-logo" src="{{ asset('images/fests/RFP.webp') }}" alt="ROCK FOR PEOPLE">
                        </div>
                        <div class="col justify-content-center d-flex align-items-center">
                            <img class="fest-logo" src="{{ asset('images/fests/MS.webp') }}" alt="MIGHTY SOUNDS">
                        </div>
                        <div class="col justify-content-center d-flex align-items-center">
                            <img class="fest-logo" src="{{ asset('images/fests/RFCH.webp') }}" alt="ROCK FOR CHURCHILL">
                        </div>
                        <div class="col justify-content-center d-flex align-items-center">
                            <img class="fest-logo" src="{{ asset('images/fests/SP.webp') }}" alt="SOUNDS TRACK">
                        </div>
                        <div class="col justify-content-center d-flex align-items-center">
                            <img class="fest-logo" src="{{ asset('images/fests/KVIFF.webp') }}" alt="Karlovy Vary International Film Festival">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hp-concerts py-3">
        <div class="container py-5">
            <div class="pb-2">
                {% for concert in concerts %}
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="text-capitalize px-1 fw-bold mb-0 text-white bg-concert-date-hp date-concert">
                            {{  concert.date|format_datetime(pattern="EEEE dd.MM.yy", locale='cs') }}
                        </div>
                        <div class="text-uppercase h4 mb-0 fw-bold text-dark">
                            {{ concert.name }}
                        </div>
                        <div class="text-dark">
                            {{ concert.location }}
                        </div>
                        <a class="text-decoration-underline fw-bold text-dark" href="{{ concert.tickets }}" target="_blank">
                            Vstupenky
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-4 mb-2">
                <a class="more-concerts mx-auto" href="">Další koncerty</a>
            </div>
        </div>
    </div>

    <div class="bg-purple pt-5 pb-3">
        <div class="container pt-5">
            <div class="row">
                {% for merch in merchs %}
                    <div class="col-4 mb-5  text-center">
                        <img class="w-100 rounded" src="{{ asset(imageAssets ~ merch.orderedImages|first.fileName) }}" alt="{{ merch.name }}">
                        <h4 class="fw-bold text-uppercase text-white mt-5 mb-2">{{ merch.name }}</h4>
                        <p class="text-white mb-4">{{ merch.price|format_currency('CZK', {fraction_digit: 0}, locale='cs_CZ') }}</p>
                        <a class="text-decoration-none text-white merch-button fw-bold" href="{{ path('app_merch_detail', {merch: merch.id}) }}">Prohlédnout</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'site/app/_component/footer.html.twig' %}
{% endblock %}

