{% extends 'site/app_layout.html.twig' %}

{% block meta_title %}Circus Brothers | Merch{% endblock %}

{% block body %}
    {% include 'site/app/_component/header.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-7">
                <img class="w-100 mb-3" src="{{ asset(imageAssets ~ merch.orderedImages|first.fileName) }}" alt="{{ merch.name }}">
                <div class="row">
                    {% for image in merch.orderedImages[1:] %}
                        <div class="col-4 mb-3">
                            <img class="w-100" src="{{ asset(imageAssets ~ image.fileName) }}" alt="{{ merch.name }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-4 ms-5 mt-5">
                <div class="d-flex flex-column">
                    <p class="h5 fw-bold">{{ merch.name }}</p>
                    <p>Dostupné velikosti:</p>
                    <p>{{ merch.price|format_currency('CZK', {fraction_digit: 0}, locale='cs_CZ') }}</p>
                    <p>Pro objednání nás prosím kontaktuje na e-mail:</p>
                    <a class="text-dark" href="mailto:management@circusbrothers.com">management@circusbrothers.com</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <h5 class="fw-bold text-center mb-5">Další produkty</h5>
        <div class="row">
            {% for merch in merchs %}
                <div class="col-4 mb-5  text-center">
                    <img class="w-100 rounded" src="{{ asset(imageAssets ~ merch.orderedImages|first.fileName) }}" alt="{{ merch.name }}">
                    <h4 class="fw-bold text-uppercase text-dark mt-5 mb-2">{{ merch.name }}</h4>
                    <p class="text-dark mb-4">{{ merch.price|format_currency('CZK', {fraction_digit: 0}, locale='cs_CZ') }}</p>
                    <a class="text-dark merch-detail-dark text-decoration-none fw-bold" href="">Prohlédnout</a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'site/app/_component/footer.html.twig' %}
{% endblock %}

