{% extends 'site/app_layout.html.twig' %}

{% block meta_title %}Circus Brothers | Merch{% endblock %}
{% block meta_keywords %}Circus Brothers, Kapela, Koncert, Party, Firemní večírek, Oslava, Festival, Circus, Šapitó, Zábava, Balkan, Bashavel{% endblock %}
{% block meta_description %}Objevte oficiální merch Circus Brothers! Vyberte si z naší kolekce triček a ukážte svou podporu s unikátním stylem.{% endblock %}
{% block og_meta_title %}Oficiální Merch Circus Brothers | Kolekce Triček{% endblock %}
{% block og_meta_description %}Připojte se k Circus Brothers s naším oficiálním merchem. Prohlédněte si naši nejnovější kolekci triček a vyjádřete svou podporu v jedinečném stylu.{% endblock %}

{% block body %}
    {% include 'site/app/_component/header.html.twig' %}

    <div class="bg-purple grid-bg py-5">
        <h5 class="fw-bold pt-4 text-center text-white">Náš Merch</h5>
        <div class="container pt-3 my-4">
            <div class="row">
                {% for merch in merchItems %}
                    <a href="{{ path('app_merch_detail', {merch: merch.id}) }}" class="col-12 col-sm-6 col-lg-4 mb-5 text-center text-decoration-none merch-item" data-aos="fade-up" data-aos-duration="1000">
                        <img class="w-100 rounded" src="{{ asset(imageAssets ~ merch.orderedImages|first.fileName) }}" alt="{{ merch.name }}">
                        <h4 class="fw-bold text-uppercase text-white mt-3 mt-md-5 mb-2">{{ merch.name }}</h4>
                        <p class="text-white mb-4 helvetica-font">{{ merch.price|format_currency('CZK', {fraction_digit: 0}, locale='cs_CZ') }}</p>
                        <button class="text-white merch-button fw-bold">Prohlédnout</button>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'site/app/_component/footer.html.twig' %}
{% endblock %}